[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
govee-led-wez = "~=0.0.14"
asyncio = "~=3.4.3"
websockets = "~=10.4"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.16"
